main {
    display: flex;
    flex-direction: column;
}

.c-user__info {
    display: flex;
    justify-content: space-between;
}

.c-user__description {
    display: flex;
    flex-direction: column;
}

.c-user__data {
    display: flex;
}

.c-user__status--empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-btn-add {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.c-departments__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}