.c-user__info {
    border: var(--border-default) var(--grey400);
    padding: 1.25rem 1.875rem;
}

.c-user__status {
    background-color: var(--grey600);
}

.c-user__status--empty {
    height: 28.75rem;
    border: var(--border-default) var(--grey900);
}

.c-user__status--full > h2 {
    background-color: var(--brand-color100);
    height: 5rem;
}

.c-btn-add {
    width: max-content;
}