body {
    margin-bottom: 5rem;
}

main {
    gap: 2.75rem;
}

.c-user__description {
    gap: 0.625rem;
}

.c-user__data {
    gap: 9.375rem;
}

.c-btn-add {
    gap: 0.9375rem;
}

.c-departments__head {
    margin-bottom: 1.25rem;
}