h1 {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-3);
    line-height: var(--line-height-2);
    color: var(--grey100);
}

h2 {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-1);
    line-height: var(--line-height-2);
    color: var(--grey100);
}

h3 {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);
}

.c-user__status--empty > h2 {
    color: var(--grey100);
}

.c-user__status--full > h2 {
    color: var(--grey800);
}