input, input::placeholder, select, textarea, textarea::placeholder {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-6);
    font-size: var(--font-size-7);
}

textarea {
    resize: none;
    color: var(--grey100);
    border: var(--border-default) var(--grey300);
    padding: 17px;
    height: 110px;
    outline: none;
}

input {
    color: var(--grey100);
    border: var(--border-default) var(--grey300);
    height: 40px;
    padding-left: 17px;
}

input::placeholder, textarea::placeholder {
    color: var(--grey200);
}

.u-select-default {
    border: var(--border-default) var(--grey300);
    padding-left: 17px;
    color: var(--grey200);
    height: 44.5px;
}

.c-select__company {
    border: var(--border-default) var(--grey100);
    color: var(--grey100);
    border-radius: var(--radius-2);
    padding: 4px 33px;
}

